.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: red;
  font-weight: bold;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-card{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 50%;
  /* height: 300px; */
  margin-left: 25%;
}

.item-card img{
  width: 100%;
  height: 400px;
}

.item-card li{
list-style: none;
}

.product{
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
}

.product-card{
display: flex;
flex-wrap: wrap;
gap: 1px;
width: 25%;
justify-content: center;
}

.product-card img{
  height: 350px;
  width: 100%;
}

.product-card li{
  list-style: none;
}

.description{
  background-color: whitesmoke;
  font-weight: bold;
}

.product-card button{
  background-color: green;
  width: 100%;
  height: 30px;
  font-weight: bold;
  color: azure;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .product-card{
    width: 100%;
    margin-right: 20px;
  }

  .item-card img{
    width: 100%;
    margin-right: 100px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
